body{
    margin: 0;
    display: grid; /* */
    grid-template-areas: 'header header header header' /* Cada palavra representa uma coluna*/
                         'nav nav nav nav'
                         'section section aside aside'
                         'footer footer footer footer';
    grid-template-rows: 20vh 15vh 50vh 30vh; /* Define a altura das linhas */ /* */
    /* grid-template-columns: 10vw 30vw 40vw 20vw Mudar o tamanho das colunas */
    grid-gap: 10px;
    background-color: black;
    grid-template-columns: 25% 25% 25% 23.5%;
}

header{
    display: flex;
    justify-content: center; /* alinha na horizontal */
    grid-area: header; /* Puxa a area a ser coberta*/
    background-color: black;

}
header div{
    background-color: #b1b3bf;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}

header div img{
    height: 100px;
    width: 100px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: nav;
    background-color: #ef752f;
}

nav a{
    color: black;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-weight: 800;
    text-transform: uppercase;
}
nav a:hover{
    color: white;
    font-weight: bolder;
}

section{
    grid-area: section;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

section img{
    width: 300px;
    border-radius: 170px;
    border: 1px solid black;

}

section img:hover{ /* Muda só quando passa o mouse em cima */
    width: 520px;

}

aside{
    grid-area: aside;
    background-color: yellow;
}

footer{
    grid-area: footer;
    background-color: purple;
}